@media (max-width: 768px) {
  .navbar-brand {
    width: 100%;
    margin-right: 0 ;
  }
  #layout-header-2 {
    height: 280px;
    .navbar-brand {
      width: initial;
    }
    .navbar {
      padding-top: 15px;
      .main-navbar{
        width: initial;
      }
    }
  }
  #layout-header { 
    position: absolute;
    height: 140px;
    .navbar {
      width: 100%;
      padding: 28px 20px;
      justify-content: center;
      .navbar-block {
        display: initial;
        justify-content: initial;
      }
      .navbar-brand {
        line-height: 1;
      }
      .bg-header {
        position: absolute;
        height: 280px;
        left: 0;
        right: 0;
        top: 0;
        z-index: -1;
      }
      .main-navbar {
        justify-content: center;
        margin-top: 15px;
        li {
          // width: 60px;
          a {
            font-size: 14px;
            line-height: 1;
            &:hover{
              &:after {
                border-bottom: none;
                bottom: none;
                margin: none;
                text-align: none;
                content: none;
                left: none;
                position: none;
                right:none;
              }
            } 
            &.active {
              &:after {
                // bottom: 12px;
              }
            }
          }
        }
      }
    }
    &.large {

      .navbar-block {
        display: flex;
        justify-content: space-between;
      }
      .navbar {
        padding: 20px 10px 20px 15px;
        display: block;
        .navbar-brand {
          width: initial;
          line-height: 1.2;
        }
        margin-top: initial;
        .main-navbar {
          justify-content: flex-end;
          margin-top: initial;
          li {
            width: initial;
            // // &:last-child {
            // //   width: 29px;
            // //   i {
            // //     padding: 0;
            // //   }
            // }
            a {
              font-size: 12px;
              line-height: 1;
              padding: 10px 6px;
              &:hover, &.active {
                color: white;
                font-weight: bold;
                &::after {
                  border-bottom: 2px solid $color-tokped-green;
                    bottom: 5px;
                    margin: 0 10px;
                    text-align: center;
                    content: " ";
                    left: 0;
                    position: absolute;
                    right: 0;
                }
              }
            }
          } 
        }
      }
    }
  }
  #layout-content {

  }
  #layout-footer { 
    .divider-line { 
      margin-left: 20px;
      margin-right: 20px;
    }
    #footer {
      padding: 0 15px;
      .credit {
        padding: 15px;
      }
      .logo {
        margin-top: 10px;
      }
    }
  }
  #slider {
    &.slider-1 {
      .thumb {
        width: initial;
        border: 2px solid transparent;
        border-radius: 0.25rem;
        margin: 5px;
          &:hover {
            border: 2px solid #0DFFBE;
          }
        img {          
        }
      }
    }
    &.slider-2 {
      .slider-2 {
        margin: 0;
      }
    }
  }
  .slider-4 {
    // overflow-x: scroll !important;
  }
  #layout-content-1, #layout-content-2 {
    padding-top: 15px;
  }


.tokped-iespl-logo {
  // padding-top: initial;
  // padding-bottom: initial;
}
.content {
  padding: 0px 20px;
  position: relative;
  width: 100%;
  overflow: hidden;

  .slider-1 {
    position: relative;
    overflow: visible;
    .thumb {
      width: 144px;
      border: 2px solid transparent;
      border-radius: 0.25rem;
      margin: 15px 0px;
        &:hover {
          border: 2px solid $color-tokped-green;
        }
        &.active {
          border: 2px solid $color-tokped-green;
        }
      img { 
        width: 100%;         
      }
    }
  }
  .slider-2, .section-2 {
    position: relative;
    overflow: visible;
  }
  .slider-2 {
   .thumb {
      width: 318px;
      height: 140px;
      background-color: #fff;
      /* border: 2px solid #43B649; */
      border-radius: 0.25rem;
      margin: 3px 5px;
      padding: 15px;
      display: inline-flex;
    }
  }
  .slider-8 {
    overflow: visible;
  }
  .section-3  {
    .title-heading {
    }
    .section-left {
      width: 100%;
      .media {
        .media-img {
          height: 187px;
        }
        .media-body {
          padding: 15px;
          h2 {
            font-size: 20px;
          } 
        }
      }
    }
    .section-right {
      width: 100%;
    }
  }
  .section-4 {
    margin: 0 -20px;
    width: initial;
    padding: 30px 20px;
    .slider-3 {
      overflow: visible;
    }
  }
  .section-4, .section-6 {
    // margin:0 -20px;
    border-radius: 0;
    // width: 100%;
    // padding: 20px;
    .title-heading {
      padding: 0;
    }
    .section-body {
      margin-top: 20px;
      position: relative;
      .card {
        .card-img {
          margin-bottom: 15px;
          .card-img-top {
            width: 80px;
            height: 80px;
            padding: initial;

          }
          span {
            top: 0;
            right: 0;
          }
        }
      }
    }
  }
  .section-5, .section-7, .section-12 {
    margin: 0;
    .panel-heading {
      box-sizing: content-box;
      height: 100%;
      overflow-x: visible;
      width: initial;

    }
    .panel-body {
      // padding: 0 20px;
    }
    .nav {
      flex-wrap: nowrap;
    }
    .tab {
      width: initial !important;
      a {
        padding: 0;
        &.active {
          a {
            color: white;
            &::after {
              border-bottom: 2px solid #0DFFBE;
                bottom: 0px;
            }
          }
        }
        &:hover {
          color: none;
          text-decoration: none;
          a {
            color: none;
            font-weight: none;
            position:none;
            &::after {
              border-bottom: none;
                bottom: none;
                margin: none;
                text-align: none;
                content: none;
                left: none;
                position: none;
                right: none;
            }
          }
        }
      }
    }
  }
  .section-6 {
    width: 100%;
    padding: 0;
    .slider-3 {
      overflow: visible;
    }
    .section-body {
      padding: 20px 0;
      .card {
        // padding: 0 5px;
      }
      .head-info {
        // padding: 0 20px;
        margin-bottom: 20px;
        .btn-next {
          position: absolute;
          // top: 13px;
          right: 0px;
          padding: 0;
        }
      }
      .swiper-container {
        // padding-left:  20px;
      }
    }
    .media {
      .media-body {
        .body-info {
          margin-bottom: 0;
          p {
            margin-bottom: 0;
          }
          li {
            &.sosmed {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .section-8 {
    width: 100%;
    .team-info {
      margin-right: initial;
      padding: 20px;
      min-width: 100px;
      width: 100px;
    }
   // padding-left: 20px;
  }
  .section-11 {
    .thumb {
      margin-bottom: 15px;
    }
    .section-left {
      width: 100%;
      .media {
        position: relative;
        cursor: pointer;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        border-radius: 0;
        .media-img {
          height: 188px;
          width: 100%;
          position: relative;
          overflow: hidden;

        }
        .media-body {
          position: absolute;
          padding: 15px;
          bottom: 10px;
          span {
            font-size: 12px;
          }
          h2 {
            font-size: 20px;
            font-weight: bold;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }
        }
      }
    }
    .section-right {
      width: 100%;
      .media {
        position: relative;
        cursor: pointer;
        .media-img {
          height: 78px;
          width: 140px;
          position: relative;
          overflow: hidden;
          img {
            position: relative;
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
        }
        .media-body {
          position: relative;
          padding: 0 15px;
          bottom: 0;
          align-self: center;

        h3 {
            font-size: 14px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            margin-bottom: 0;
            line-height: 1.2;
          }
          span {
            color: #808080;
            font-size: 12px;
            font-style: italic;
          }
          p {
            font-size: 12px;
            color: #FFF500;
            margin-bottom: 0;
          }
        }
      }   
    }  
  }
  .slider-4 {
    overflow: visible;
  }
  .profile-menu {
    // margin-bottom: 20px;
    .nav-tabs {
      display: relative;
      border-bottom: none;
      .tab {
        padding: 15px 10px;
        // width: 90px;
        text-align: center;
        a {
          font-size: 14px;
          color: #999999;
          text-decoration: none;
        }
        &:hover{
          a {
            &:after {
              border-bottom: none;
              bottom: none;
              margin: none;
              text-align: none;
              content: none;
              left: none;
              position: none;
              right:none;
            }
          }
        } 
      }
    }
  }
  .section-player {
    padding: 30px 0 0 0 ;
    .media {
      .media-img {
        height: 100px;
        width: 100px;
      }
      .media-body {
        margin-left: 10px;
        .body-top {
          .profile-name {
            span {
              vertical-align: initial;
              margin-left: initial;
              height: 15px;
              align-self: initial;
              width: 25px;
            }
          }
        }
      }
    }
    .player-detail {
      .plyrdetWrap {
        margin-left: 60px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
  .news-other {
    margin-bottom: 25px;
    .title {
      font-size: 24px;
    }
    .media {
      .media-body {
        h1 {
          font-size: 16px;
          font-family: 'Rubik Medium';
          line-height: 1;
          margin: 0;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          overflow: hidden;
        }
      }
    }
    .news-more {
      display: block;
      width: 100%;
      border: 1px solid;
      text-align: center;
      padding: 10px;
      border-radius: 5px;
      margin-top: 10px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .section-overflow {
    overflow: visible;
    margin: 0 -20px;
  }
  .banner-tokped {
    max-width: 300px;
  }
}

section {
    padding: 0 0px;
    width: 100%;
    // margin: 5px 0;
    position: relative;
    display: block;

    .title-heading {
      // padding: 0 20px;
    }
    .section {
      // padding: 15px 20px;
    .search {
      &.search-1 {
        margin-bottom: 5px;
        padding: 0 20px;
      	}
      }
    }
    .section-2 {
      .section-left {
        width: 100%;
        .no-flex {
  
        }
      }
      .section-right {
  
        // width: 300px;
      }
    }


    


      .search {
        .search-1 {
          margin: 0px;
        }
      }

    .section-7 {

      .panel-middle {
        .date-match {
          text-align: center;
          a {
            h5 {
              font-weight: bold;
              margin-bottom: 0;
              font-size: 16px;
            }
          }
          span {
            font-size: 14px;
          }
        }
      }
      .thumb {
        background-color: #333333;
        width: 100%;
        height: 100%;
        border: 2px solid transparent;
        border-radius: 0.25rem;
        margin: 10px 0;
        padding: 15px;
          &:hover {
            border: 2px solid #0DFFBE;
          }
          .match-info {
            position: relative;
            .match-head {
              font-size: 12px;
              margin-bottom: 20px;
              .cat {
                color: #0DFFBE;
                a {
                  color: #0DFFBE;
                }
                span {
                  margin-left: 5px;
                 }
              }
              .stat-watch {
                color: white;
                i {
                  font-size: 8px;
                  padding: 0 5px;
                  color: red;
                }
              }
            }
            .match-body {
              .club-logo {
                height: 100%;
                width: 50px; 
                text-align: center;
                font-size: 12px;
                img{
                  width: 100%;
                  height: 50px;
                  object-fit: contain;
                }
              }
              .scores {
                text-align: center;
                font-size: 28px;
                line-height: 1;
                p {
                  line-height: 1;
                  margin-bottom: 10px;
                }
              }
              .btn-watch {
                border: 1px solid transparent;
                background: #0DFFBE;
                padding: 2px 10px;
                font-size: 12px;
                color: black;
                border-radius: 5px;
                i {
                  font-size: 9px;
                }
              }
              .btn-rewatch {
                border: 1px solid #0DFFBE;
                background: none;
                padding: 2px 10px;
                font-size: 12px;
                color: #0DFFBE;
                border-radius: 5px;
                i {
                  font-size: 9px;
                }
              }              
            }
          }

      }
    }


    .section-banner {
      margin: 30px auto;
    }
    .section-9, .ssection-3 {
      .swiper-container {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        overflow: visible;
      }
    }
    .mob-container {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      overflow: visible;
    }
    .banner-tokped {
      width: 335px;
      margin: 20px auto;
      .media {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        border: none;
        border-radius: 5px;
        background: #fff;
        width: 100%;
        overflow: hidden;
        color: #333333;
        .media-img {
          width: 100%;
          position: relative;
          overflow: hidden;
          img {
            position: relative;
            object-fit: cover;
            height: 180px;
            width: 100%;
          }
        }
        .media-body {
          padding: 15px;
          width: 100%;
            h5 {
              font-size: 16px;
            }
            span {
              font-size: 12px;
              color: #808080;
              i {
                padding-right: 10px;
              }
            }
        }
        .media-footer {
          border-top: 1px solid #E6E6E6;
          padding: 15px;
          width: 100%;
          line-height: 1;
          span {
            font-size: 10px;
          }
          h5 {
            color: #FF5608;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 0;
          }
          .btn-tokped {
            background: #43B649;
            color: white;
            font-size: 12px;
            vertical-align: middle;
            padding: 1px 19px;
            i {
              font-size: 30px;
              padding-left: 5px;
              vertical-align: middle;
            }
          }
        }
      }
    }


}



// Table Point 
.points_table {
  >thead {
    >tr {
      >th {
        min-width: 30px;
        padding: 4px 0px;
        display: inline-block;
        &:nth-child(2) {
          padding: 4px 6px;
        }
        &:first-child() {
          padding: 4px 6px;
        }
      }
    }
  }
  >tbody {
    >tr {
      >td {
        padding: 4px 0;
        display: inline-table;
        line-height: 36px;
        display: inline-block;
        min-width: 30px;
        &:nth-child(2) {
          text-align: left;
          text-transform: uppercase;
          white-space: nowrap;
          padding: 4px 0px 4px 8px;
          overflow: hidden;
          text-overflow: ellipsis;
          a {
            color: $color-tokped-darkgrey;
          }
        }
        &:first-child(), &:last-child() {
          padding: 4px 0px;
        }
      }
    }
  }
}

.section-match {
  .match-info {
    .match-head {
      padding: 20px;
    }
  }
}



.tokped-iespl-logo {
  img {
    width: 109px;
    height: auto;
  }
}

.only-desk {
  display: none !important;
}
.only-mobile {
  display: block !important;
}

#layout-content {
  &.extra_large {
    padding-top: 140px;
  }
  &.extra_xlarge {
    padding-top: 211px;
  }
}
.bg-header {
  height: 140px;
  &.xlarge {
    height: 211px;
  }
  .overlay-black {
    opacity: 0.7;
    background: linear-gradient(black 20%, rgba(255, 255, 255, 0));
  }
}



}